<h3>Current segmentation classes</h3>
<h4>(Use these classes when masking segmentation image data)</h4>
<img src="{{ asset('assets/current_classes.png') }}"/>
<table class="ui celled table">
    <thead>
    <tr>
        <th>Class #</th>
        <th>Label</th>
        <th>Hex value</th>
        <th>RGB value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Menu</td>
        <td>#FF0000</td>
        <td>255|0|0</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Sidebar</td>
        <td>#FF00DA</td>
        <td>255|0|218</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Content</td>
        <td>#7200FF</td>
        <td>114|0|255</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Footer</td>
        <td>#0005FF</td>
        <td>0|5|255</td>
    </tr>
    </tbody>
</table>