{% extends 'menuBase.html.twig' %}

{% block content %}
    <div style="display: flex; justify-content: space-between; align-items: center">
        <h1>Segmentation data</h1>
        <div style="display: flex; justify-content: flex-end; align-items: center">
            <div>
                <a href="{{ path('teachingData_segmentation_create') }}" class="ui icon button orange">
                    <i class="icon plus"></i>
                    Add
                </a>
            </div>
            <div style="margin: 8px;padding: 16px;" class="container--bordered">
{#                Last updated: Never#}
                <a href="{{ path('teachingData_segmentation_tfrecords') }}" class="ui icon button orange" style="margin:0">
                    <i class="icon plus"></i>
                    Update tfrecord
                </a>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    {% include 'teachingData/segmentation/table.html.twig' %}
{% endblock %}