{% extends 'menuBase.html.twig' %}

{% block content %}
    <h1>Manage teaching data</h1>
    <a href="{{ path('teachingData_segmentation') }}" class="ui button orange">Segmentation Data</a>
    <a href="{{ path('teachingData_classification') }}" class="ui button orange">Classification Data</a>
{% endblock %}