{% extends 'menuBase.html.twig' %}

{% block content %}
    <h1>Train neural networks</h1>
    <div class="flex__container--horizontal" style="justify-content: space-evenly">
        {% include 'trainingViews/segmentation/index.html.twig' %}
        {% include 'trainingViews/classification/index.html.twig' %}
    </div>
    <script>$('.ui.accordion').accordion();</script>
{% endblock %}
